.bcbody{
    background: linear-gradient(rgba(1,49,60,1), rgba(1,20,37,1)); 
    background-size: cover;
    margin: 0;
}

.head-cont{
    background-image: url('header_companies.png');
    background-size: cover;
    background-repeat: no-repeat;
}