@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.background-home {
  background: whitesmoke;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.form-diagnostic input,
.form-diagnostic select,
.form-diagnostic textarea {
  background-color: rgb(252, 241, 227);
  border-color: #e2610580;
  outline: none;
  accent-color: #e26105;
}

.background-aboutUs {
  background: linear-gradient(#e8b006, #e26105);
}

input{
  border:none;
  outline: none;
}