@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.background-home {
  background: whitesmoke;
}

.background-aboutUs {
  background: linear-gradient(#e8b006, #e26105);
}
